.checkout-form {
    margin-bottom: 10rem;
}
    .checkout-form input, .checkout-form select, .checkout-form textarea {
        background-color: #eee;
    }
.checkout-form-first-name {
    grid-area: checkout-form-first-name;
    background-color: #f5f7fa ;
    border: 0px;
    padding: 20px;
    margin: 10px;
}
.checkout-form-last-name{
    grid-area: checkout-form-last-name;
    background-color: #f5f7fa;
    border: 0px;
    padding: 20px;
    margin: 10px;
}
.checkout-form-company-name{
    grid-area: checkout-form-company-name;
    background-color: #f5f7fa;
    width: 600px;
    border: 0px;
    padding: 20px;
    margin: 10px;
}
.checkout-form-email{
    grid-area: checkout-form-email;
    background-color: #f5f7fa;
    width: 600px;
    border: 0px;
    padding: 20px;
    margin: 10px;
}
.checkout-form-country{
    grid-area: checkout-form-country;
    background-color: #f5f7fa;
    width: 600px;
    border: 0px;
    padding: 20px;
    margin: 10px;
}
.checkout-form-address{
    grid-area: checkout-form-address;
    background-color: #f5f7fa;
    width: 600px;
    border: 0px;
    padding: 20px;
    margin: 10px;
}
.checkout-form-town{
    grid-area: checkout-form-town;
    background-color: #f5f7fa;
    width: 600px;
    border: 0px;
    padding: 20px;
    margin: 10px;
}
.checkout-form-zip-code{
    grid-area: checkout-form-zip-code;
    background-color: #f5f7fa;
    border: 0px;
    padding: 20px;
    margin: 10px;
}
.checkout-form-phone-no{
    grid-area: checkout-form-phone-no;
    background-color: #f5f7fa;
    border: 0px;
    padding: 20px;
    margin: 10px;
}
.checkout-form-comment{
    grid-area: checkout-form-comment;
    background-color: #f5f7fa;
    width: 600px;
    border: 0px;
    padding: 20px;
    margin: 10px;
}

.checkout-form {
    display: grid;
    text-align: left;
    grid-template-areas: 
    "checkout-form-first-name    checkout-form-last-name"
    "checkout-form-company-name  checkout-form-company-name"
    "checkout-form-email         checkout-form-email"
    "checkout-form-country       checkout-form-country"
    "checkout-form-address       checkout-form-address"
    "checkout-form-town          checkout-form-town"
    "checkout-form-zip-code      checkout-form-phone-no"
    "checkout-form-comment       checkout-form-comment";
}

.cart-header{
    margin: 0px;
}
.cart-list{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.cart-button {
    width: 90px;
    height: 40px;
    background-color: var(--c1);
    border: none;
    color: white;
    transition: .3s;
    font-weight: bold;
    border-radius: 0.4rem;
    margin-left:33%
}

.cart-total {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    margin-left: 20px;
    margin-top: 77px;
    position: relative;
    background-color: #f5f7fa;
    height: 400px;
    width: 300px;
}
.amado-main-page-container {
    display: flex;
}